USE [master]
GO
/****** Object:  Database [SistemaGestionInventarios]    Script Date: 11/20/2025 6:41:29 PM ******/
CREATE DATABASE [SistemaGestionInventarios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaGestionInventarios', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SistemaGestionInventarios.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaGestionInventarios_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SistemaGestionInventarios_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaGestionInventarios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaGestionInventarios]
GO
/****** Object:  Table [dbo].[ElementosPublicitarios]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElementosPublicitarios](
	[ElementoId] [int] IDENTITY(1,1) NOT NULL,
	[NombreElemento] [varchar](200) NOT NULL,
	[ValorUnitario] [decimal](18, 2) NOT NULL,
	[CantidadDisponible] [int] NOT NULL,
	[ValorTotal]  AS ([ValorUnitario]*[CantidadDisponible]),
	[OficinaCreadoraId] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioCreador] [varchar](100) NOT NULL,
	[RutaImagen] [nvarchar](255) NULL,
	[CantidadMinima] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ElementoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oficinas]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oficinas](
	[OficinaId] [int] IDENTITY(1,1) NOT NULL,
	[NombreOficina] [varchar](100) NOT NULL,
	[DirectorOficina] [varchar](100) NOT NULL,
	[Ubicacion] [varchar](200) NOT NULL,
	[EsPrincipal] [bit] NULL,
	[Activo] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[Email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OficinaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreOficina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ReporteElementosPublicitarios]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ReporteElementosPublicitarios] AS
SELECT 
    e.ElementoId,
    e.NombreElemento,
    e.ValorUnitario,
    e.CantidadDisponible,
    e.ValorTotal,
    o.NombreOficina AS OficinaCreadora,
    e.FechaCreacion
FROM dbo.ElementosPublicitarios e
JOIN dbo.Oficinas o ON e.OficinaCreadoraId = o.OficinaId
WHERE e.Activo = 1;
GO
/****** Object:  Table [dbo].[EstadosSolicitud]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosSolicitud](
	[EstadoId] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aprobadores]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aprobadores](
	[AprobadorId] [int] IDENTITY(1,1) NOT NULL,
	[NombreAprobador] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Activo] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AprobadorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materiales]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materiales](
	[MaterialId] [int] IDENTITY(1,1) NOT NULL,
	[NombreElemento] [varchar](200) NOT NULL,
	[ValorUnitario] [decimal](18, 2) NOT NULL,
	[CantidadDisponible] [int] NOT NULL,
	[ValorTotal]  AS ([ValorUnitario]*[CantidadDisponible]),
	[OficinaCreadoraId] [int] NOT NULL,
	[Activo] [bit] NULL,
	[FechaCreacion] [datetime] NULL,
	[UsuarioCreador] [varchar](100) NOT NULL,
	[RutaImagen] [nvarchar](255) NULL,
	[CantidadMinima] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudesMaterial]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudesMaterial](
	[SolicitudId] [int] IDENTITY(1,1) NOT NULL,
	[OficinaSolicitanteId] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
	[CantidadSolicitada] [int] NOT NULL,
	[FechaSolicitud] [datetime] NULL,
	[EstadoId] [int] NOT NULL,
	[PorcentajeOficina] [decimal](5, 2) NOT NULL,
	[AprobadorId] [int] NOT NULL,
	[FechaAprobacion] [datetime] NOT NULL,
	[CantidadEntregada] [int] NULL,
	[FechaUltimaEntrega] [datetime] NOT NULL,
	[ValorTotalSolicitado] [decimal](18, 2) NOT NULL,
	[ValorOficina] [decimal](18, 2) NOT NULL,
	[ValorSedePrincipal] [decimal](18, 2) NOT NULL,
	[FechaCalculoValores] [datetime] NULL,
	[UsuarioSolicitante] [nvarchar](100) NOT NULL,
	[Observacion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[SolicitudId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ReporteSolicitudes]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Recrear la vista sin el campo EmailAprobacion
CREATE VIEW [dbo].[vw_ReporteSolicitudes] AS
SELECT 
    s.SolicitudId,
    o.NombreOficina as OficinaSolicitante,
    m.NombreElemento,
    m.ValorUnitario,
    s.CantidadSolicitada,
    (m.ValorUnitario * s.CantidadSolicitada) as ValorTotalSolicitado,
    s.PorcentajeOficina,
    es.NombreEstado as Estado,
    a.NombreAprobador,
    s.CantidadEntregada,
    s.FechaSolicitud,
    s.FechaAprobacion
FROM SolicitudesMaterial s
INNER JOIN Oficinas o ON s.OficinaSolicitanteId = o.OficinaId
INNER JOIN Materiales m ON s.MaterialId = m.MaterialId
INNER JOIN EstadosSolicitud es ON s.EstadoId = es.EstadoId
LEFT JOIN Aprobadores a ON s.AprobadorId = a.AprobadorId;
GO
/****** Object:  View [dbo].[vw_ReporteMateriales]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista: Reporte de Materiales
CREATE VIEW [dbo].[vw_ReporteMateriales] AS
SELECT 
    m.MaterialId,
    m.NombreElemento,
    m.ValorUnitario,
    m.CantidadDisponible,
    m.ValorTotal,
    o.NombreOficina as OficinaCreadora,
    m.FechaCreacion
FROM Materiales m
INNER JOIN Oficinas o ON m.OficinaCreadoraId = o.OficinaId
WHERE m.Activo = 1;
GO
/****** Object:  Table [dbo].[Asignaciones]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignaciones](
	[AsignacionId] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[UsuarioAsignadoId] [int] NOT NULL,
	[OficinaId] [int] NOT NULL,
	[FechaAsignacion] [datetime] NOT NULL,
	[FechaDevolucion] [datetime] NULL,
	[Estado] [varchar](20) NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[UsuarioAsignador] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AsignacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AsignacionesCorporativasHistorial]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsignacionesCorporativasHistorial](
	[HistorialId] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[OficinaId] [int] NULL,
	[Accion] [varchar](50) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[UsuarioAccion] [varchar](100) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Observaciones] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[HistorialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriasProductos]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasProductos](
	[CategoriaId] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](100) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devoluciones]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devoluciones](
	[DevolucionId] [int] IDENTITY(1,1) NOT NULL,
	[SolicitudId] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
	[CantidadDevuelta] [int] NOT NULL,
	[FechaDevolucion] [datetime] NOT NULL,
	[UsuarioDevolucion] [varchar](100) NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[EstadoDevolucion] [varchar](20) NOT NULL,
	[CondicionMaterial] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DevolucionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialEntregas]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialEntregas](
	[HistorialId] [int] IDENTITY(1,1) NOT NULL,
	[SolicitudId] [int] NOT NULL,
	[CantidadEntregada] [int] NOT NULL,
	[FechaEntrega] [datetime] NULL,
	[UsuarioEntrega] [varchar](100) NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[TipoMovimiento] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[HistorialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientosInventario]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientosInventario](
	[MovimientoId] [int] IDENTITY(1,1) NOT NULL,
	[ProductoId] [int] NOT NULL,
	[TipoMovimiento] [varchar](20) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[FechaMovimiento] [datetime] NOT NULL,
	[UsuarioMovimiento] [varchar](100) NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[Referencia] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MovimientoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrestamosElementos]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrestamosElementos](
	[PrestamoId] [int] IDENTITY(1,1) NOT NULL,
	[ElementoId] [int] NOT NULL,
	[UsuarioSolicitanteId] [int] NOT NULL,
	[OficinaId] [int] NOT NULL,
	[CantidadPrestada] [int] NOT NULL,
	[FechaPrestamo] [datetime] NOT NULL,
	[FechaDevolucionPrevista] [datetime] NOT NULL,
	[FechaDevolucionReal] [datetime] NULL,
	[Estado] [varchar](20) NOT NULL,
	[Evento] [varchar](200) NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[UsuarioPrestador] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
	[UsuarioDevolucion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PrestamoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrestamosMaterial]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrestamosMaterial](
	[PrestamoId] [int] IDENTITY(1,1) NOT NULL,
	[MaterialId] [int] NOT NULL,
	[UsuarioSolicitanteId] [int] NOT NULL,
	[OficinaId] [int] NOT NULL,
	[CantidadPrestada] [int] NOT NULL,
	[FechaPrestamo] [datetime] NOT NULL,
	[FechaDevolucionPrevista] [datetime] NOT NULL,
	[FechaDevolucionReal] [datetime] NULL,
	[Estado] [varchar](20) NOT NULL,
	[Evento] [varchar](200) NOT NULL,
	[Observaciones] [varchar](500) NULL,
	[UsuarioPrestador] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PrestamoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductosCorporativos]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductosCorporativos](
	[ProductoId] [int] IDENTITY(1,1) NOT NULL,
	[CodigoUnico] [varchar](50) NOT NULL,
	[NombreProducto] [varchar](200) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[CategoriaId] [int] NOT NULL,
	[ProveedorId] [int] NOT NULL,
	[ValorUnitario] [decimal](18, 2) NOT NULL,
	[CantidadDisponible] [int] NOT NULL,
	[CantidadMinima] [int] NOT NULL,
	[Ubicacion] [varchar](100) NULL,
	[EsAsignable] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioCreador] [varchar](100) NOT NULL,
	[RutaImagen] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoUnico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[ProveedorId] [int] IDENTITY(1,1) NOT NULL,
	[NombreProveedor] [varchar](200) NOT NULL,
	[Contacto] [varchar](100) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](150) NULL,
	[Direccion] [varchar](300) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProveedorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[ContraseñaHash] [varchar](255) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
	[OficinaId] [int] NULL,
	[AprobadorId] [int] NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[CorreoElectronico] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Asignaciones_Producto]    Script Date: 11/20/2025 6:41:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Asignaciones_Producto] ON [dbo].[Asignaciones]
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Asignaciones_Usuario]    Script Date: 11/20/2025 6:41:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Asignaciones_Usuario] ON [dbo].[Asignaciones]
(
	[UsuarioAsignadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Devoluciones_SolicitudFecha]    Script Date: 11/20/2025 6:41:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Devoluciones_SolicitudFecha] ON [dbo].[Devoluciones]
(
	[SolicitudId] ASC,
	[FechaDevolucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ElementosPublicitarios_Oficina]    Script Date: 11/20/2025 6:41:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_ElementosPublicitarios_Oficina] ON [dbo].[ElementosPublicitarios]
(
	[OficinaCreadoraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_ElementosPublicitarios_Oficina_Nombre]    Script Date: 11/20/2025 6:41:29 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ElementosPublicitarios_Oficina_Nombre] ON [dbo].[ElementosPublicitarios]
(
	[OficinaCreadoraId] ASC,
	[NombreElemento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Historial_SolicitudFecha]    Script Date: 11/20/2025 6:41:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Historial_SolicitudFecha] ON [dbo].[HistorialEntregas]
(
	[SolicitudId] ASC,
	[FechaEntrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Materiales_Oficina]    Script Date: 11/20/2025 6:41:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Materiales_Oficina] ON [dbo].[Materiales]
(
	[OficinaCreadoraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Movimientos_ProductoFecha]    Script Date: 11/20/2025 6:41:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Movimientos_ProductoFecha] ON [dbo].[MovimientosInventario]
(
	[ProductoId] ASC,
	[FechaMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Prestamos_Fechas]    Script Date: 11/20/2025 6:41:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Prestamos_Fechas] ON [dbo].[PrestamosMaterial]
(
	[FechaPrestamo] ASC,
	[FechaDevolucionPrevista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Prestamos_Material]    Script Date: 11/20/2025 6:41:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Prestamos_Material] ON [dbo].[PrestamosMaterial]
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Prestamos_Usuario]    Script Date: 11/20/2025 6:41:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Prestamos_Usuario] ON [dbo].[PrestamosMaterial]
(
	[UsuarioSolicitanteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Productos_Categoria]    Script Date: 11/20/2025 6:41:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Categoria] ON [dbo].[ProductosCorporativos]
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Productos_Proveedor]    Script Date: 11/20/2025 6:41:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Proveedor] ON [dbo].[ProductosCorporativos]
(
	[ProveedorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Solicitudes_Fecha]    Script Date: 11/20/2025 6:41:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Solicitudes_Fecha] ON [dbo].[SolicitudesMaterial]
(
	[FechaSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Solicitudes_OficinaEstado]    Script Date: 11/20/2025 6:41:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Solicitudes_OficinaEstado] ON [dbo].[SolicitudesMaterial]
(
	[OficinaSolicitanteId] ASC,
	[EstadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aprobadores] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Aprobadores] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Asignaciones] ADD  DEFAULT (getdate()) FOR [FechaAsignacion]
GO
ALTER TABLE [dbo].[Asignaciones] ADD  DEFAULT ('ASIGNADO') FOR [Estado]
GO
ALTER TABLE [dbo].[Asignaciones] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[AsignacionesCorporativasHistorial] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[CategoriasProductos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[CategoriasProductos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Devoluciones] ADD  DEFAULT (getdate()) FOR [FechaDevolucion]
GO
ALTER TABLE [dbo].[Devoluciones] ADD  DEFAULT ('COMPLETADA') FOR [EstadoDevolucion]
GO
ALTER TABLE [dbo].[ElementosPublicitarios] ADD  CONSTRAINT [DF_ElementosPublicitarios_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ElementosPublicitarios] ADD  CONSTRAINT [DF_ElementosPublicitarios_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[ElementosPublicitarios] ADD  CONSTRAINT [DF_ElementosPublicitarios_CantidadMinima]  DEFAULT ((10)) FOR [CantidadMinima]
GO
ALTER TABLE [dbo].[EstadosSolicitud] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[HistorialEntregas] ADD  DEFAULT (getdate()) FOR [FechaEntrega]
GO
ALTER TABLE [dbo].[HistorialEntregas] ADD  DEFAULT ('ENTREGA') FOR [TipoMovimiento]
GO
ALTER TABLE [dbo].[Materiales] ADD  DEFAULT ((0)) FOR [CantidadDisponible]
GO
ALTER TABLE [dbo].[Materiales] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Materiales] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Materiales] ADD  DEFAULT ((10)) FOR [CantidadMinima]
GO
ALTER TABLE [dbo].[MovimientosInventario] ADD  DEFAULT (getdate()) FOR [FechaMovimiento]
GO
ALTER TABLE [dbo].[Oficinas] ADD  DEFAULT ((0)) FOR [EsPrincipal]
GO
ALTER TABLE [dbo].[Oficinas] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Oficinas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[PrestamosElementos] ADD  DEFAULT (getdate()) FOR [FechaPrestamo]
GO
ALTER TABLE [dbo].[PrestamosElementos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[PrestamosMaterial] ADD  DEFAULT (getdate()) FOR [FechaPrestamo]
GO
ALTER TABLE [dbo].[PrestamosMaterial] ADD  DEFAULT ('PRESTADO') FOR [Estado]
GO
ALTER TABLE [dbo].[PrestamosMaterial] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ProductosCorporativos] ADD  DEFAULT ((0)) FOR [CantidadDisponible]
GO
ALTER TABLE [dbo].[ProductosCorporativos] ADD  DEFAULT ((5)) FOR [CantidadMinima]
GO
ALTER TABLE [dbo].[ProductosCorporativos] ADD  DEFAULT ((1)) FOR [EsAsignable]
GO
ALTER TABLE [dbo].[ProductosCorporativos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ProductosCorporativos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  DEFAULT (getdate()) FOR [FechaSolicitud]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  DEFAULT ((1)) FOR [EstadoId]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  CONSTRAINT [DF_AprobadorId]  DEFAULT ((1)) FOR [AprobadorId]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  CONSTRAINT [DF_FechaAprobacion]  DEFAULT (getdate()) FOR [FechaAprobacion]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  DEFAULT ((0)) FOR [CantidadEntregada]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  CONSTRAINT [DF_FechaUltimaEntrega]  DEFAULT (getdate()) FOR [FechaUltimaEntrega]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  CONSTRAINT [DF_ValorTotalSolicitado]  DEFAULT ((0.00)) FOR [ValorTotalSolicitado]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  CONSTRAINT [DF_ValorOficina]  DEFAULT ((0.00)) FOR [ValorOficina]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  CONSTRAINT [DF_ValorSedePrincipal]  DEFAULT ((0.00)) FOR [ValorSedePrincipal]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  DEFAULT (getdate()) FOR [FechaCalculoValores]
GO
ALTER TABLE [dbo].[SolicitudesMaterial] ADD  CONSTRAINT [DF_UsuarioSolicitante]  DEFAULT ('administrador') FOR [UsuarioSolicitante]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Asignaciones]  WITH CHECK ADD  CONSTRAINT [FK_Asignaciones_Oficina] FOREIGN KEY([OficinaId])
REFERENCES [dbo].[Oficinas] ([OficinaId])
GO
ALTER TABLE [dbo].[Asignaciones] CHECK CONSTRAINT [FK_Asignaciones_Oficina]
GO
ALTER TABLE [dbo].[Asignaciones]  WITH CHECK ADD  CONSTRAINT [FK_Asignaciones_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[ProductosCorporativos] ([ProductoId])
GO
ALTER TABLE [dbo].[Asignaciones] CHECK CONSTRAINT [FK_Asignaciones_Producto]
GO
ALTER TABLE [dbo].[Asignaciones]  WITH CHECK ADD  CONSTRAINT [FK_Asignaciones_Usuario] FOREIGN KEY([UsuarioAsignadoId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Asignaciones] CHECK CONSTRAINT [FK_Asignaciones_Usuario]
GO
ALTER TABLE [dbo].[AsignacionesCorporativasHistorial]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionesHistorial_Oficina] FOREIGN KEY([OficinaId])
REFERENCES [dbo].[Oficinas] ([OficinaId])
GO
ALTER TABLE [dbo].[AsignacionesCorporativasHistorial] CHECK CONSTRAINT [FK_AsignacionesHistorial_Oficina]
GO
ALTER TABLE [dbo].[AsignacionesCorporativasHistorial]  WITH CHECK ADD  CONSTRAINT [FK_AsignacionesHistorial_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[ProductosCorporativos] ([ProductoId])
GO
ALTER TABLE [dbo].[AsignacionesCorporativasHistorial] CHECK CONSTRAINT [FK_AsignacionesHistorial_Producto]
GO
ALTER TABLE [dbo].[Devoluciones]  WITH CHECK ADD  CONSTRAINT [FK_Devoluciones_Material] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materiales] ([MaterialId])
GO
ALTER TABLE [dbo].[Devoluciones] CHECK CONSTRAINT [FK_Devoluciones_Material]
GO
ALTER TABLE [dbo].[Devoluciones]  WITH CHECK ADD  CONSTRAINT [FK_Devoluciones_Solicitud] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[SolicitudesMaterial] ([SolicitudId])
GO
ALTER TABLE [dbo].[Devoluciones] CHECK CONSTRAINT [FK_Devoluciones_Solicitud]
GO
ALTER TABLE [dbo].[ElementosPublicitarios]  WITH CHECK ADD  CONSTRAINT [FK_ElementosPublicitarios_Oficina] FOREIGN KEY([OficinaCreadoraId])
REFERENCES [dbo].[Oficinas] ([OficinaId])
GO
ALTER TABLE [dbo].[ElementosPublicitarios] CHECK CONSTRAINT [FK_ElementosPublicitarios_Oficina]
GO
ALTER TABLE [dbo].[HistorialEntregas]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Solicitud] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[SolicitudesMaterial] ([SolicitudId])
GO
ALTER TABLE [dbo].[HistorialEntregas] CHECK CONSTRAINT [FK_Historial_Solicitud]
GO
ALTER TABLE [dbo].[Materiales]  WITH CHECK ADD  CONSTRAINT [FK_Materiales_Oficina] FOREIGN KEY([OficinaCreadoraId])
REFERENCES [dbo].[Oficinas] ([OficinaId])
GO
ALTER TABLE [dbo].[Materiales] CHECK CONSTRAINT [FK_Materiales_Oficina]
GO
ALTER TABLE [dbo].[MovimientosInventario]  WITH CHECK ADD  CONSTRAINT [FK_Movimientos_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[ProductosCorporativos] ([ProductoId])
GO
ALTER TABLE [dbo].[MovimientosInventario] CHECK CONSTRAINT [FK_Movimientos_Producto]
GO
ALTER TABLE [dbo].[PrestamosElementos]  WITH CHECK ADD  CONSTRAINT [FK_PrestamosElementos_Elementos] FOREIGN KEY([ElementoId])
REFERENCES [dbo].[ElementosPublicitarios] ([ElementoId])
GO
ALTER TABLE [dbo].[PrestamosElementos] CHECK CONSTRAINT [FK_PrestamosElementos_Elementos]
GO
ALTER TABLE [dbo].[PrestamosElementos]  WITH CHECK ADD  CONSTRAINT [FK_PrestamosElementos_Oficinas] FOREIGN KEY([OficinaId])
REFERENCES [dbo].[Oficinas] ([OficinaId])
GO
ALTER TABLE [dbo].[PrestamosElementos] CHECK CONSTRAINT [FK_PrestamosElementos_Oficinas]
GO
ALTER TABLE [dbo].[PrestamosElementos]  WITH CHECK ADD  CONSTRAINT [FK_PrestamosElementos_Usuarios] FOREIGN KEY([UsuarioSolicitanteId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[PrestamosElementos] CHECK CONSTRAINT [FK_PrestamosElementos_Usuarios]
GO
ALTER TABLE [dbo].[PrestamosMaterial]  WITH CHECK ADD  CONSTRAINT [FK_Prestamos_Material] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materiales] ([MaterialId])
GO
ALTER TABLE [dbo].[PrestamosMaterial] CHECK CONSTRAINT [FK_Prestamos_Material]
GO
ALTER TABLE [dbo].[PrestamosMaterial]  WITH CHECK ADD  CONSTRAINT [FK_Prestamos_Oficina] FOREIGN KEY([OficinaId])
REFERENCES [dbo].[Oficinas] ([OficinaId])
GO
ALTER TABLE [dbo].[PrestamosMaterial] CHECK CONSTRAINT [FK_Prestamos_Oficina]
GO
ALTER TABLE [dbo].[PrestamosMaterial]  WITH CHECK ADD  CONSTRAINT [FK_Prestamos_Usuario] FOREIGN KEY([UsuarioSolicitanteId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[PrestamosMaterial] CHECK CONSTRAINT [FK_Prestamos_Usuario]
GO
ALTER TABLE [dbo].[ProductosCorporativos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categoria] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[CategoriasProductos] ([CategoriaId])
GO
ALTER TABLE [dbo].[ProductosCorporativos] CHECK CONSTRAINT [FK_Productos_Categoria]
GO
ALTER TABLE [dbo].[ProductosCorporativos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Proveedor] FOREIGN KEY([ProveedorId])
REFERENCES [dbo].[Proveedores] ([ProveedorId])
GO
ALTER TABLE [dbo].[ProductosCorporativos] CHECK CONSTRAINT [FK_Productos_Proveedor]
GO
ALTER TABLE [dbo].[SolicitudesMaterial]  WITH CHECK ADD  CONSTRAINT [FK_Solicitudes_Aprobador] FOREIGN KEY([AprobadorId])
REFERENCES [dbo].[Aprobadores] ([AprobadorId])
GO
ALTER TABLE [dbo].[SolicitudesMaterial] CHECK CONSTRAINT [FK_Solicitudes_Aprobador]
GO
ALTER TABLE [dbo].[SolicitudesMaterial]  WITH CHECK ADD  CONSTRAINT [FK_Solicitudes_Estado] FOREIGN KEY([EstadoId])
REFERENCES [dbo].[EstadosSolicitud] ([EstadoId])
GO
ALTER TABLE [dbo].[SolicitudesMaterial] CHECK CONSTRAINT [FK_Solicitudes_Estado]
GO
ALTER TABLE [dbo].[SolicitudesMaterial]  WITH CHECK ADD  CONSTRAINT [FK_Solicitudes_Material] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materiales] ([MaterialId])
GO
ALTER TABLE [dbo].[SolicitudesMaterial] CHECK CONSTRAINT [FK_Solicitudes_Material]
GO
ALTER TABLE [dbo].[SolicitudesMaterial]  WITH CHECK ADD  CONSTRAINT [FK_Solicitudes_Oficina] FOREIGN KEY([OficinaSolicitanteId])
REFERENCES [dbo].[Oficinas] ([OficinaId])
GO
ALTER TABLE [dbo].[SolicitudesMaterial] CHECK CONSTRAINT [FK_Solicitudes_Oficina]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([AprobadorId])
REFERENCES [dbo].[Aprobadores] ([AprobadorId])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([OficinaId])
REFERENCES [dbo].[Oficinas] ([OficinaId])
GO
ALTER TABLE [dbo].[HistorialEntregas]  WITH CHECK ADD CHECK  (([CantidadEntregada]>(0)))
GO
ALTER TABLE [dbo].[Materiales]  WITH CHECK ADD CHECK  (([CantidadDisponible]>=(0)))
GO
ALTER TABLE [dbo].[Materiales]  WITH CHECK ADD CHECK  (([ValorUnitario]>(0)))
GO
ALTER TABLE [dbo].[SolicitudesMaterial]  WITH CHECK ADD  CONSTRAINT [CHK_CantidadEntregada_No_Mayor_Solicitada] CHECK  (([CantidadEntregada]<=[CantidadSolicitada]))
GO
ALTER TABLE [dbo].[SolicitudesMaterial] CHECK CONSTRAINT [CHK_CantidadEntregada_No_Mayor_Solicitada]
GO
ALTER TABLE [dbo].[SolicitudesMaterial]  WITH CHECK ADD CHECK  (([CantidadSolicitada]>(0) AND [CantidadSolicitada]<=(1000)))
GO
ALTER TABLE [dbo].[SolicitudesMaterial]  WITH CHECK ADD CHECK  (([CantidadEntregada]>=(0)))
GO
ALTER TABLE [dbo].[SolicitudesMaterial]  WITH CHECK ADD CHECK  (([PorcentajeOficina]>=(0) AND [PorcentajeOficina]<=(100)))
GO
/****** Object:  StoredProcedure [dbo].[sp_AprobarParcialSolicitud]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AprobarParcialSolicitud]
    @SolicitudId INT,
    @AprobadorId INT,
    @CantidadAprobada INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @CantidadSolicitada INT, @MaterialId INT, @ValorUnitario DECIMAL(18,2);
    
    -- Obtener información de la solicitud - CORREGIDO EL AMBIGUEDAD
    SELECT @CantidadSolicitada = sm.CantidadSolicitada, 
           @MaterialId = sm.MaterialId,
           @ValorUnitario = m.ValorUnitario
    FROM SolicitudesMaterial sm
    INNER JOIN Materiales m ON sm.MaterialId = m.MaterialId
    WHERE sm.SolicitudId = @SolicitudId AND sm.EstadoId = 1;
    
    IF @CantidadSolicitada IS NULL
    BEGIN
        RAISERROR('Solicitud no encontrada o no está pendiente', 16, 1);
        RETURN;
    END
    
    IF @CantidadAprobada <= 0 OR @CantidadAprobada > @CantidadSolicitada
    BEGIN
        RAISERROR('Cantidad aprobada inválida', 16, 1);
        RETURN;
    END
    
    -- Calcular valores financieros
    DECLARE @ValorTotalAprobado DECIMAL(18,2) = @ValorUnitario * @CantidadAprobada;
    DECLARE @PorcentajeOficina DECIMAL(5,2);
    
    SELECT @PorcentajeOficina = PorcentajeOficina 
    FROM SolicitudesMaterial 
    WHERE SolicitudId = @SolicitudId;
    
    DECLARE @ValorOficina DECIMAL(18,2) = @ValorTotalAprobado * (@PorcentajeOficina / 100);
    DECLARE @ValorSedePrincipal DECIMAL(18,2) = @ValorTotalAprobado - @ValorOficina;
    
    BEGIN TRANSACTION;
    
    -- Actualizar la solicitud original con la cantidad aprobada
    UPDATE SolicitudesMaterial 
    SET EstadoId = 2, -- Aprobada
        AprobadorId = @AprobadorId,
        FechaAprobacion = GETDATE(),
        CantidadEntregada = @CantidadAprobada, -- Guardar la cantidad aprobada/entregada
        ValorTotalSolicitado = @ValorTotalAprobado,
        ValorOficina = @ValorOficina,
        ValorSedePrincipal = @ValorSedePrincipal,
        FechaUltimaEntrega = GETDATE()
    WHERE SolicitudId = @SolicitudId;
    
    -- Actualizar stock
    UPDATE Materiales 
    SET CantidadDisponible = CantidadDisponible - @CantidadAprobada
    WHERE MaterialId = @MaterialId;
    
    -- Registrar en historial de entregas
    INSERT INTO HistorialEntregas (SolicitudId, CantidadEntregada, UsuarioEntrega, Observaciones)
    VALUES (@SolicitudId, @CantidadAprobada, 'Sistema', 'Aprobación parcial');
    
    COMMIT TRANSACTION;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AprobarSolicitud]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Recrear el stored procedure sin el parámetro EmailAprobacion
CREATE PROCEDURE [dbo].[sp_AprobarSolicitud]
    @SolicitudId INT,
    @AprobadorId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE SolicitudesMaterial 
    SET EstadoId = 2,
        AprobadorId = @AprobadorId,
        FechaAprobacion = GETDATE()
    WHERE SolicitudId = @SolicitudId
    AND EstadoId = 1;
    
    IF @@ROWCOUNT = 0
        RAISERROR('Solicitud no encontrada o ya fue procesada', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearElementoPrestamo]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CrearElementoPrestamo]
  @MaterialId              INT,
  @UsuarioSolicitanteId    INT,
  @OficinaId               INT,
  @CantidadPrestada        INT,
  @FechaDevolucionPrevista DATETIME,
  @Evento                  VARCHAR(200),
  @Observaciones           VARCHAR(500) = NULL,
  @UsuarioPrestador        VARCHAR(100)
AS
BEGIN
  SET NOCOUNT ON;

  -- Validaciones básicas
  IF @CantidadPrestada <= 0
  BEGIN
    RAISERROR('La cantidad debe ser mayor que 0', 16, 1);
    RETURN;
  END;

  DECLARE @Disponible INT;
  SELECT @Disponible = CantidadDisponible
  FROM Materiales
  WHERE MaterialId = @MaterialId;

  IF @Disponible IS NULL
  BEGIN
    RAISERROR('Material no existe', 16, 1);
    RETURN;
  END;

  IF @CantidadPrestada > @Disponible
  BEGIN
    RAISERROR('Cantidad prestada excede el inventario disponible', 16, 1);
    RETURN;
  END;

  BEGIN TRANSACTION;

  INSERT INTO PrestamosMaterial
    (MaterialId, UsuarioSolicitanteId, OficinaId, CantidadPrestada,
     FechaPrestamo, FechaDevolucionPrevista, FechaDevolucionReal,
     Estado, Evento, Observaciones, UsuarioPrestador, Activo)
  VALUES
    (@MaterialId, @UsuarioSolicitanteId, @OficinaId, @CantidadPrestada,
     GETDATE(), @FechaDevolucionPrevista, NULL,
     'PRESTADO', @Evento, @Observaciones, @UsuarioPrestador, 1);

  UPDATE Materiales
    SET CantidadDisponible = CantidadDisponible - @CantidadPrestada
  WHERE MaterialId = @MaterialId;

  DECLARE @NuevoId INT = SCOPE_IDENTITY();
  COMMIT TRANSACTION;

  SELECT @NuevoId AS NuevoElementoPrestamoId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearSolicitud]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CrearSolicitud]
    @OficinaSolicitanteId INT,
    @MaterialId INT,
    @CantidadSolicitada INT,
    @PorcentajeOficina DECIMAL(5,2),
    @Usuario VARCHAR(100),
    @Observacion VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Validaciones existentes...
    DECLARE @TotalMes INT;
    SELECT @TotalMes = ISNULL(SUM(CantidadSolicitada), 0)
    FROM SolicitudesMaterial 
    WHERE OficinaSolicitanteId = @OficinaSolicitanteId
    AND MONTH(FechaSolicitud) = MONTH(GETDATE())
    AND YEAR(FechaSolicitud) = YEAR(GETDATE());
    
    IF (@TotalMes + @CantidadSolicitada) > 1000
    BEGIN
        RAISERROR('Límite mensual de 1000 elementos excedido para esta oficina', 16, 1);
        RETURN;
    END
    
    DECLARE @Disponible INT;
    SELECT @Disponible = CantidadDisponible 
    FROM Materiales 
    WHERE MaterialId = @MaterialId;
    
    IF @CantidadSolicitada > @Disponible
    BEGIN
        RAISERROR('Cantidad solicitada excede el inventario disponible', 16, 1);
        RETURN;
    END
    
    -- CALCULAR VALORES FINANCIEROS
    DECLARE @ValorUnitario DECIMAL(18,2);
    SELECT @ValorUnitario = ValorUnitario FROM Materiales WHERE MaterialId = @MaterialId;
    
    DECLARE @ValorTotalSolicitado DECIMAL(18,2) = @ValorUnitario * @CantidadSolicitada;
    DECLARE @ValorOficina DECIMAL(18,2) = @ValorTotalSolicitado * (@PorcentajeOficina / 100);
    DECLARE @ValorSedePrincipal DECIMAL(18,2) = @ValorTotalSolicitado - @ValorOficina;
    
    INSERT INTO SolicitudesMaterial (
        OficinaSolicitanteId, 
        MaterialId, 
        CantidadSolicitada, 
        PorcentajeOficina, 
        EstadoId,
        UsuarioSolicitante,
        Observacion,
        ValorTotalSolicitado,  -- NUEVO
        ValorOficina,          -- NUEVO
        ValorSedePrincipal     -- NUEVO
    ) VALUES (
        @OficinaSolicitanteId, 
        @MaterialId, 
        @CantidadSolicitada,
        @PorcentajeOficina, 
        1,
        @Usuario,
        @Observacion,
        @ValorTotalSolicitado, -- NUEVO
        @ValorOficina,         -- NUEVO
        @ValorSedePrincipal    -- NUEVO
    );
    
    SELECT SCOPE_IDENTITY() as NuevaSolicitudId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarDevolucion]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored Procedure de devolución ACTUALIZADO
CREATE PROCEDURE [dbo].[sp_RegistrarDevolucion]
    @SolicitudId INT,
    @UsuarioId INT,
    @CantidadDevuelta INT,
    @Observacion VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @MaterialId INT, 
            @CantidadAprobada INT, 
            @EstadoId INT,
            @CantidadYaDevuelta INT,
            @CantidadPuedeDevolver INT,
            @UsuarioNombre VARCHAR(100);
    
    BEGIN TRY
        -- Obtener información completa de la solicitud
        SELECT 
            @MaterialId = sm.MaterialId,
            @CantidadAprobada = ISNULL(sm.CantidadEntregada, 0),
            @EstadoId = sm.EstadoId,
            @CantidadYaDevuelta = ISNULL((SELECT SUM(d.CantidadDevuelta) FROM Devoluciones d WHERE d.SolicitudId = sm.SolicitudId), 0),
            @UsuarioNombre = u.NombreUsuario
        FROM SolicitudesMaterial sm
        INNER JOIN Usuarios u ON u.UsuarioId = @UsuarioId
        WHERE sm.SolicitudId = @SolicitudId;
        
        -- Validar que la solicitud existe
        IF @MaterialId IS NULL
        BEGIN
            RAISERROR('Solicitud no encontrada', 16, 1);
            RETURN;
        END
        
        -- Validar que está en estado aprobada (2) o entregada (4)
        IF @EstadoId NOT IN (2, 4)
        BEGIN
            RAISERROR('Solo se pueden devolver solicitudes aprobadas o entregadas', 16, 1);
            RETURN;
        END
        
        -- Calcular cuánto se puede devolver
        SET @CantidadPuedeDevolver = @CantidadAprobada - @CantidadYaDevuelta;
        
        -- Validar cantidad
        IF @CantidadDevuelta <= 0
        BEGIN
            RAISERROR('La cantidad devuelta debe ser mayor que 0', 16, 1);
            RETURN;
        END
        
        IF @CantidadDevuelta > @CantidadPuedeDevolver
        BEGIN
            RAISERROR('No se puede devolver más de lo aprobado pendiente. Máximo: %d', 16, 1, @CantidadPuedeDevolver);
            RETURN;
        END
        
        BEGIN TRANSACTION;
        
        -- 1. REGISTRAR EN TABLA DEVOLUCIONES
        INSERT INTO Devoluciones (
            SolicitudId, 
            MaterialId, 
            CantidadDevuelta, 
            FechaDevolucion,
            UsuarioDevolucion, 
            Observaciones, 
            EstadoDevolucion,
            CondicionMaterial
        ) VALUES (
            @SolicitudId,
            @MaterialId,
            @CantidadDevuelta,
            GETDATE(),
            @UsuarioNombre,
            @Observacion,
            'COMPLETADA',
            'BUENO'
        );
        
        -- 2. Actualizar el stock del material (devolver al inventario)
        UPDATE Materiales 
        SET CantidadDisponible = CantidadDisponible + @CantidadDevuelta
        WHERE MaterialId = @MaterialId;
        
        -- 3. Calcular nueva cantidad pendiente
        DECLARE @NuevaCantidadPendiente INT = @CantidadPuedeDevolver - @CantidadDevuelta;
        
        -- 4. Cambiar estado según la cantidad pendiente
        IF @NuevaCantidadPendiente <= 0
        BEGIN
            -- Si no queda nada pendiente, cambiar a "Devuelta" (EstadoId = 5)
            UPDATE SolicitudesMaterial 
            SET EstadoId = 5,
                FechaUltimaEntrega = GETDATE()
            WHERE SolicitudId = @SolicitudId;
        END
        ELSE
        BEGIN
            -- Si aún queda pendiente por devolver, mantener estado actual pero actualizar fecha
            UPDATE SolicitudesMaterial 
            SET FechaUltimaEntrega = GETDATE()
            WHERE SolicitudId = @SolicitudId;
        END
        
        COMMIT TRANSACTION;
        
        -- Retornar éxito
        SELECT 1 AS Success;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarEntrega]    Script Date: 11/20/2025 6:41:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Registrar Entrega
CREATE PROCEDURE [dbo].[sp_RegistrarEntrega]
    @SolicitudId INT,
    @CantidadEntregada INT,
    @UsuarioEntrega VARCHAR(100),
    @Observaciones VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @CantidadSolicitada INT, @CantidadYaEntregada INT, @MaterialId INT;
    
    SELECT @CantidadSolicitada = CantidadSolicitada,
           @CantidadYaEntregada = ISNULL(CantidadEntregada, 0),
           @MaterialId = MaterialId
    FROM SolicitudesMaterial 
    WHERE SolicitudId = @SolicitudId;
    
    IF (@CantidadYaEntregada + @CantidadEntregada) > @CantidadSolicitada
    BEGIN
        RAISERROR('Cantidad entregada excede la cantidad solicitada', 16, 1);
        RETURN;
    END
    
    BEGIN TRANSACTION;
    
    INSERT INTO HistorialEntregas (SolicitudId, CantidadEntregada, UsuarioEntrega, Observaciones)
    VALUES (@SolicitudId, @CantidadEntregada, @UsuarioEntrega, @Observaciones);
    
    UPDATE SolicitudesMaterial 
    SET CantidadEntregada = ISNULL(CantidadEntregada, 0) + @CantidadEntregada,
        FechaUltimaEntrega = GETDATE()
    WHERE SolicitudId = @SolicitudId;
    
    UPDATE Materiales 
    SET CantidadDisponible = CantidadDisponible - @CantidadEntregada
    WHERE MaterialId = @MaterialId;
    
    COMMIT TRANSACTION;
END
GO
USE [master]
GO
